@import 'https://fonts.googleapis.com/css2?family=Kantumruy+Pro&display=swap';
@import "../../styles/colors.scss";

.HomePage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Kantumruy Pro', sans-serif;
    background-color: $background;

    .logo {
        width: 50%;
        margin-bottom: 150px;
    }

    .btn {
        width: 200px;
        height: 50px;
        background-color: $secondary;
        border: 3px solid $primary;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: $primary;
        font-weight: bold;
        font-size: 24px;
        border-radius: 5px;
    }
}